html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  margin: 10vh, 10vw;
  padding: 10vh, 10vw;
}

h1 {
  font-size: min(2.0vw, 3.0vh);
  text-align: center;
  color: whitesmoke;
}

h2 {
  font-size: min(1.6vw, 2.6vh);
  color: #cabe15;
  text-align: center;
}

h3 {
  font-size: min(1.2vw, 2.4vh);
  color: whitesmoke;
  text-align: center;
}

p {
  font-size: min(1vw, 2.2vh);
  text-align: justify;
  color: whitesmoke;
}

@media (min-width: 768px) {
  body {
    display: flex;
    align-items: center;
    background-image: url("treetop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #211600;
    color: whitesmoke;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .logo img {
    max-width: min(15vh);
    height: auto;
    z-index: 999;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .menu ul li {
    margin-left: 1.5;
  }


  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #15491e;
    position: static;
    border-radius: 2vh;
    height: 4vh;
    overflow: hidden;
    transform: translate(-10%,);
  }

  nav ul li a {
    color: whitesmoke;
    padding-left: 0.5vw;
    padding-right: 4vw;
  }

  .hero {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: justify;
    padding: 2vh;
    background-color: rgba(33, 22, 0, 0.6);
    border-radius: 2vh;
    position: absolute;
    overflow-y: hidden;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #211600;
    color: whitesmoke;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: min(4vh, 4vw);
    overflow: hidden;
  }

  .about-container {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    text-align: justify;
    padding: 2vh;
    background-color: rgba(33, 22, 0, 0.6);
    color: whitesmoke;
    border-radius: 2vh;
    position: absolute;
    overflow: hidden;
  }

  #round-container {
    text-align: center;
    border-radius: 2vh;
    background-color: rgba(33, 22, 0, 0.6);
  }

  #current-round {
    font-size: 1.5vh;
    font-weight: bold;
    color: white;
    padding: 2vh;
    margin: 0;
  }

  #game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    transform: translate(-50%, -50%);
    background-color: rgba(33, 22, 0, 0.6);
    color: whitesmoke;
    border-radius: 2vh;
    position: absolute;
    overflow: hidden;
  }


  .website-container {
    text-align: center;
    cursor: pointer;
    padding: 3vh;
    border-radius: 2vh;
    color: #fff;
    background-color: rgba(0, 0, 0);
    transition: all 0.3s ease;
  }

  .website-container:hover {
    background-color: rgb(33, 22, 0);
    box-shadow: 0 0.6vh 1vh rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5vh);
  }

  .website-container.correct {
    background-color: green;
  }

  .website-container.incorrect {
    background-color: red;
  }

  #website1-co2-per-month,
  #website2-co2-per-month {
    font-size: 1.2vw, 2.0vh;
  }

  #vs-container {
    font-size: 2vh;
    font-weight: bold;
    justify-content: center;
    color: whitesmoke;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6vh;
    position: fixed;
    bottom: 25vh;
    left: 0;
    right: 0;
  }

  .button {
    text-decoration: none;
    font-size: 2vh;
    padding: 0.8vh 1.5vh;
    background-color: green;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    border-radius: 1vh;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.4vh 0.8vh rgba(0, 0, 0, 0.2);
  }

  .button:hover {
    background-color: #669f66;
    transform: scale(1.05);
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  #score-container {
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0);
    padding: 2vh;
    margin: auto;
    border-radius: 2vh;
    transition: all 0.3s ease;
    position: absolute;
    top: 2.5vh;
  }

  #score-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50vw;
  }

  #streak,
  #total-score {
    flex-grow: 1;
    text-align: center;
  }

  #result-message-container {
    margin: 2vh 0;
    text-align: center;
    font-size: 1.5vh;
    font-weight: bold;
    color: whitesmoke;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%);
  }

  .co2-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .co2-label {
    font-size: 12px;
  }

  .co2-value {
    font-size: 18px;
  }

  a {
    color: whitesmoke;
    transition: color 0.3s;
  }

  a:hover {
    color: #cabe15;
  }

  .hidden {
    display: none;
  }
}